<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Architex Lab
    </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Teko:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Stylesheet -->
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border position-relative text-primary" style="width: 6rem; height: 6rem;" role="status"></div>
        <img class="position-absolute top-50 start-50 translate-middle" src="/static/img/icons/icon-1.png" alt="Icon">
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <div class="container-fluid bg-dark p-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="row gx-0 d-none d-lg-flex">
            <div class="col-lg-7 px-5 text-start">
                <div class="h-100 d-inline-flex align-items-center py-3 me-3">
                    <a class="text-body px-2" href="tel:+0123456789"><i class="fa fa-phone-alt text-primary me-2"></i>+88
                        0175 0605 084</a>
                    <a class="text-body px-2" href="mailto:info@example.com"><i
                            class="fa fa-envelope-open text-primary me-2"></i>navid166418@gmail.com</a>
                </div>
            </div>
            <div class="col-lg-5 px-5 text-end">
                <div class="h-100 d-inline-flex align-items-center py-3 me-2">
                    <a class="text-body px-2" href="">Terms</a>
                    <a class="text-body px-2" href="">Privacy</a>
                </div>
                <div class="h-100 d-inline-flex align-items-center">
                    <a class="btn btn-sm-square btn-outline-body me-1" href="https://www.facebook.com/sadmankhan002"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-sm-square btn-outline-body me-1" href="https://x.com/NavidZamanKhan2"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-sm-square btn-outline-body me-1"
                        href="https://www.linkedin.com/in/navid-zaman-khan/"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-sm-square btn-outline-body me-0" href="https://www.instagram.com/sherry.iar/"><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
        <a href="index.html" class="navbar-brand ms-4 ms-lg-0">
            <h1 class="text-primary m-0"><img class="me-3" src="/static/img/icons/icon-1.png" alt="Icon">Architex Lab
            </h1>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="index.html" class="nav-item nav-link active">Home</a>
                <a href="about.html" class="nav-item nav-link">About</a>
                <a href="service.html" class="nav-item nav-link">Services</a>
                
                            <a href="feature.html" class="nav-item nav-link">Our Features</a>
                            <a href="project.html" class="nav-item nav-link">Our Projects</a>
                            <a href="contact.html" class="nav-item nav-link">Contact</a>
                    </div>
                </div>
                
            </div>
            <a href="" class="btn btn-primary py-2 px-4 d-none d-lg-block">Appointment</a>
        </div>
    </nav>
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 class="display-1 text-white animated slideInDown">Features</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb text-uppercase mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="index.html">Home</a></li>
                    
                    <li class="breadcrumb-item text-primary active" aria-current="page">Features</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Feature Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    
                    <h1 class="display-5 mb-4">Crafted Excellence Through Our Core Features</h1>
                    <p class="mb-4"><div><h3><i class="fa fa-check text-primary me-3"></i>Innovative Design Solutions</h3> <br>
                        Architex Lab’s designs push the boundaries of creativity while prioritizing functionality. Our team is dedicated to crafting unique, aesthetic solutions tailored to individual client needs, ensuring each project stands out and serves its purpose.</div> <br> <br>
                        
                        <h3><i class="fa fa-check text-primary me-3"></i>Sustainable Architecture Practices</h3> <br>
                        Sustainability is at the core of our work. We incorporate eco-friendly materials and energy-efficient systems, aiming to reduce environmental impact and create healthier living spaces that benefit both residents and the planet. <br> <br>
                        
                        <h3><i class="fa fa-check text-primary me-3"></i>Client-Centric Approach</h3> <br>
                        At Architex Lab, we believe in a collaborative process where client input drives the design. From initial consultations to final touches, we work closely with clients to ensure their vision is realized, keeping them informed and involved at every stage. <br> <br>
                        
                        <h3><i class="fa fa-check text-primary me-3"></i>Client-Centric Approach</h3> <br>
                        Our commitment to quality craftsmanship is evident in every detail. We partner with skilled artisans and experienced builders to ensure that each project reflects exceptional standards and enduring quality. <br> <br>
                        
                        <h3><i class="fa fa-check text-primary me-3"></i>3D Visualization & Advanced Technology</h3> <br> 
                        Using cutting-edge 3D animation and visualization, we bring designs to life, allowing clients to fully experience their projects before construction begins. This technology enhances the design process, providing greater clarity and confidence in the final product. <br> <br>
                        
                        <h3><i class="fa fa-check text-primary me-3"></i>On-Time Project Completion</h3> <br>
                        Time is valuable, and we respect that. Our team works diligently to ensure projects are completed on schedule without compromising quality, delivering seamless execution from start to finish. <br> <br>
                        
                        <h3><i class="fa fa-check text-primary me-3"></i>Versatile Project Expertise</h3> <br>
                        From residential homes to large commercial spaces, we have extensive experience across a variety of projects. Our expertise ensures that we can meet diverse needs and adapt to different design challenges effectively. <br> <br>
                        
                        <h3><i class="fa fa-check text-primary me-3"></i>Versatile Project Expertise</h3> <br>
                        Attention to detail is what sets us apart. We meticulously plan each aspect of the project, from initial layouts to finishing touches, ensuring that nothing is overlooked and every element aligns with the client’s vision.</p>
                    <!-- <div class="row g-4">
                        <div class="col-12">
                            <div class="d-flex align-items-start">
                                <img class="flex-shrink-0" src="img/icons/icon-2.png" alt="Icon">
                                <div class="ms-4">
                                    <h3>Design Approach</h3>
                                    <p class="mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex align-items-start">
                                <img class="flex-shrink-0" src="img/icons/icon-3.png" alt="Icon">
                                <div class="ms-4">
                                    <h3>Innovative Solutions</h3>
                                    <p class="mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex align-items-start">
                                <img class="flex-shrink-0" src="img/icons/icon-4.png" alt="Icon">
                                <div class="ms-4">
                                    <h3>Project Management</h3>
                                    <p class="mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="feature-img">
                        <img class="img-fluid" src="/static/img/about-2.jpg" alt="">
                        <img class="img-fluid" src="/static/img/about-1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->
        

     <!-- Footer Start -->
    <div class="container-fluid bg-dark text-body footer mt-5 pt-5 px-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h3 class="text-light mb-4">Address</h3>
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary me-3"></i>Lakripara, Shibganj, Sylhet</p>
                    <p class="mb-2"><i class="fa fa-phone-alt text-primary me-3"></i>+88 0175 0605 084</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary me-3"></i>navid166418@gmail.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-square btn-outline-body me-1" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-outline-body me-1" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-outline-body me-1" href="#"><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-square btn-outline-body me-0" href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3 class="text-light mb-4">Services</h3>
                    <a class="btn btn-link" href="service.html">Architecture</a>
                    <a class="btn btn-link" href="service.html">3D Animation</a>
                    <a class="btn btn-link" href="service.html">House Planning</a>
                    <a class="btn btn-link" href="service.html">Interior Design</a>
                    <a class="btn btn-link" href="service.html">Construction</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3 class="text-light mb-4">Quick Links</h3>
                    <a class="btn btn-link" href="about.html">About Us</a>
                    <a class="btn btn-link" href="contact.html">Contact Us</a>
                    <a class="btn btn-link" href="service.html">Our Services</a>
                    <a class="btn btn-link" href="#">Terms & Condition</a>
                    <a class="btn btn-link" href="#">Support</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3 class="text-light mb-4">Newsletter</h3>
                    <p>Subscribe to our newsletter for the latest architectural trends, design inspiration, and exclusive
                        updates on our projects and services.</p>
                </div>
            </div>
        </div>
    
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/lib/wow/wow.min.js"></script>
    <script src="/static/lib/easing/easing.min.js"></script>
    <script src="/static/lib/waypoints/waypoints.min.js"></script>
    <script src="/static/lib/counterup/counterup.min.js"></script>
    <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/static/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/static/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!--  Javascript -->
    <script src="/static/js/main.js"></script>
</body>

</html>